#resume-form{

      /*      display:none ;*/
}
#resume-temp{
    display:none;
}
.myimg{
    border-radius: 50%;
    width: 100px;
    height: 100px;

}
.background{
            background-color:brown;
}
